<div class="topnav">
        <a [routerLink]="" (click)="showComponent('mainComponent')" >Spotify Song Analysis</a>
        <a [routerLink]="" (click)="showComponent('aboutComponent')">About</a>
</div>


<div id="mainComponent" [style.display]="showMain ? 'block' : 'none'" >
        <h2>Songs Analysis for {{username}}</h2>
        <div id="chart" ></div>

        <ag-grid-angular 
        style="width: 100%; height: 500px;" 
        class="ag-theme-balham"
        [enableFilter]="true"
        [enableSorting]="true"
        [pagination]="true"
        [rowData]="rowData" 
        [gridOptions]="gridOptions">
        </ag-grid-angular>
</div>

<div id="aboutComponent" [style.display]="!showMain ? 'block' : 'none'" class="about-block" [style.visibility]="showMain ? 'collapse' : 'visible' ">
<p>
      Spotify Sentiment Analysis is a Project done by Student team at UIUC as part of their course on Text Information System. 
This project primary demonstration Text retrieval using Spotify and Genius Web API from respective systems. 
Project also demonstration Sentiment Analysis performed on Song Lyrics based on a trained model to identify emotion in the Song namely sad, happy, anger, etc.
                                </p>
</div>